#more {
    background-color: var(--gray-100);
    
    padding-block: 88px 120px;
    box-sizing: border-box;
}

#more #main-titles {
    margin-bottom: 56px;
}

#servicos {
    height: 155px;
    justify-content: center;
    gap: 24px;
}

.servico {
    gap: 24px;
    width: 280px;
    border: 2px solid var(--gray-200);
    border-radius: 12px;
    padding-block: 12px 21px;
    padding-inline: 12px;

    h3 {
        margin-block: 24px 8px;
    }

    p {
        font: var(--text-sm);
        color: var(--gray-500);
    }
}